<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ix-Async" version="1.2.5" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore" version="1.0.0-rc2-final" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.InMemory" version="1.0.0-rc2-final" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="1.0.0-rc2-final" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.Relational.Design" version="1.0.0-rc2-final" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="1.0.0-rc2-final" targetFramework="net452" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="1.0.0-preview1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc2-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0-rc2-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc2-final" targetFramework="net452" />

</packages>